<h1>Contact Me!</h1>

<div>
  <p><%= number_to_phone "9999999999" %></p>
  <p><a href="mailto:hunteresorensen@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>

  <h3>My Living Area:</h3>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d65364788.06821493!2d123.89051153121282!3d-0.6644272173877149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x76ed042c30f318eb%3A0x8eff14a070876cbc!2sPacific+Ocean!5e0!3m2!1sen!2sus!4v1499965327878" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
